html {
    height: 100%;
}

* {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

.d-center {
    display: flex;
    align-items: center;
    justify-content: center
}

#page {
    margin-top: 5%;
    height: 100%;
}

#container {
    margin: 0 auto;
    width: 70%;
}

#main-content {
    padding: 0.5rem;
}

#circle-avatar {
    width: 100px;
    height: 100px;
    background: antiquewhite;
    border-radius: 50%;
}